$light_gray: #9c9a9a;

.list-item__icon {
  color: $light_gray;
  margin-right: 0.5em;
}

.list-item {
  display: flex;
  line-height: normal;
  align-items: center;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
  }
}

.list-item-header {
  display: flex;
  line-height: normal;
  align-items: center;
  padding: 6px 0 0px 0px;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0.5em;
  }
}

.custom-option {
  height: auto !important;
  min-height: 48px;
  /* line-height: normal; */
}

.custom-optGroup {

  margin-left: 1rem;
}

.empty-row {
  height: 0 !important;
}

.filter {
  position: sticky;
  top: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bdbcbc83;
  z-index: 100;
  font-size: inherit;
  box-shadow: none;
  border-radius: 0;
  padding: 16px 16px 16px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 0;
    background-color: unset;
    color: gray;
    width: 100%;
  }
}
