<mat-form-field style="width: 34rem;">
  <mat-select placeholder="{{
      'shared.select_recursive_grouping.option_placeholder' | translate
    }}">
    <div class="filter">
      <input matInput placeholder="{{
          'shared.select_recursive_grouping.search_placeholder' | translate
        }}..." />
    </div>


    <mat-option *ngIf="recursivelist?.length ===0" class="empty-row"></mat-option>


    <!-- default cell template -->
    <ng-template let-model="model" #defaultTemplate>
      <div class="list-item">
        <!-- Icon -->
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <!-- <span *ngIf="model.icon" class="list-item__icon" [ngClass]="model.icon"></span> -->

        <!-- text -->
        <div class="list-item__content">
          <span>{{ model.viewValue }}</span>
        </div>
      </div>
    </ng-template>

    <!-- mat-optGroup template -->
    <ng-template #matOptGroupTemplate let-model="model">
      <div class="custom-optGroup">
        <mat-optgroup>
          <div class="list-item-header">
            <!-- Icon -->
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <!-- <span *ngIf="model.icon" class="list-item__icon" [ngClass]="model.icon"></span> -->

            <!-- text -->
            <div>
              <span>{{ model.viewValue }}</span>
            </div>
          </div>
          <mat-option *ngFor="let option of model.children" [value]="option.value">
            <ng-container *ngTemplateOutlet="defaultTemplate; context: { model: option }"></ng-container>
          </mat-option>
        </mat-optgroup>
      </div>
    </ng-template>

    <!--Option Template-->
    <ng-template #matOptionTemplate let-model="model">
      <div *ngFor="let option of model.children">
        <ng-container [ngSwitch]="getChildren(option)">
          <ng-container *ngSwitchCase="false">
            <mat-option [value]="option.value">
              <ng-container *ngTemplateOutlet="defaultTemplate;context: { model: option }"></ng-container>
            </mat-option>
          </ng-container>
          <ng-container *ngSwitchCase="true">
            <ng-container *ngTemplateOutlet="matOptGroupTemplate;context: { model: option }"></ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-template>

    <!--Principal-->
    <mat-optgroup *ngFor="let group of recursivelist" [disabled]="group.disabled">
      <div>
        <!-- Icon -->
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <!-- <span *ngIf="model.icon" class="list-item__icon" [ngClass]="model.icon"></span> -->

        <!-- text -->
        <span>{{ group.viewValue }}</span>
      </div>
      <ng-container *ngTemplateOutlet="matOptionTemplate; context: { model: group }"></ng-container>
    </mat-optgroup>

  </mat-select>
</mat-form-field>
